/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

@font-face {
  font-family: 'Proxima Nova';
  src: url("../assets/font/proxima-nova/ProximaNova-Regular.eot");
  src: url("../assets/font/proxima-nova/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../assets/font/proxima-nova/ProximaNova-Regular.woff2") format("woff2"), url("../assets/font/proxima-nova/ProximaNova-Regular.woff") format("woff"), url("../assets/font/proxima-nova/ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url("../assets/font/proxima-nova/ProximaNova-Bold.eot");
  src: url("../assets/font/proxima-nova/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), url("../assets/font/proxima-nova/ProximaNova-Bold.woff2") format("woff2"), url("../assets/font/proxima-nova/ProximaNova-Bold.woff") format("woff"), url("../assets/font/proxima-nova/ProximaNova-Bold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url("../assets/font/proxima-nova/ProximaNova-Extrabld.eot");
  src: url("../assets/font/proxima-nova/ProximaNova-Extrabld.eot?#iefix") format("embedded-opentype"), url("../assets/font/proxima-nova/ProximaNova-Extrabld.woff2") format("woff2"), url("../assets/font/proxima-nova/ProximaNova-Extrabld.woff") format("woff"), url("../assets/font/proxima-nova/ProximaNova-Extrabld.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Condensed';
  src: url("../assets/font/proxima-nova/ProximaNovaCond-Bold.eot");
  src: url("../assets/font/proxima-nova/ProximaNovaCond-Bold.eot?#iefix") format("embedded-opentype"), url("../assets/font/proxima-nova/ProximaNovaCond-Bold.woff2") format("woff2"), url("../assets/font/proxima-nova/ProximaNovaCond-Bold.woff") format("woff"), url("../assets/font/proxima-nova/ProximaNovaCond-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Chaparral';
  src: url("../assets/font/chaparral/ChaparralPro-Regular.eot");
  src: url("../assets/font/chaparral/ChaparralPro-Regular.eot?#iefix") format("embedded-opentype"), url("../assets/font/chaparral/ChaparralPro-Regular.woff2") format("woff2"), url("../assets/font/chaparral/ChaparralPro-Regular.woff") format("woff"), url("../assets/font/chaparral/ChaparralPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Chaparral';
  src: url("../assets/font/chaparral/ChaparralPro-Bold.eot");
  src: url("../assets/font/chaparral/ChaparralPro-Bold.eot?#iefix") format("embedded-opentype"), url("../assets/font/chaparral/ChaparralPro-Bold.woff2") format("woff2"), url("../assets/font/chaparral/ChaparralPro-Bold.woff") format("woff"), url("../assets/font/chaparral/ChaparralPro-Bold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  background: #e8e9e9;
  padding: 0px;
  margin: 0px;
}

a,
a:hover {
  text-decoration: none;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

body {
  font-family: "Proxima Nova", serif;
  font-size: 18px;
  color: #000;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1280px;
  }

}

.page-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background: #fff;
  padding: 20px 0;
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
  min-height: 85px;
}

.page-header .page-title {
  color: #0093d0;
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: -1px;
  margin-top: .7rem;
  margin-bottom: 0;
}

.page-header .main-navigation {
  list-style-type: none;
  margin: 0;
  padding: 10px 0 0 0;
  -webkit-padding-start: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.page-header .main-navigation li {
  position: relative;
  z-index: 1;
}

.page-header .main-navigation li:hover .sublinks {
  display: block;
}

.page-header .main-navigation li a {
  color: #888;
  font-weight: 600;
  font-size: 16px;
  margin-left: 1rem;
}

.page-header .main-navigation li a:hover,
.page-header .main-navigation li a.active {
  color: #0093d0;
}

.page-header .main-navigation .sublinks {
  position: absolute;
  left: 10px;
  z-index: 2;
  width: 120%;
  background: #fff;
  list-style-type: none;
  padding: 0;
  margin: 0;
  -webkit-padding-start: 0%;
  display: none;
  border: 1px solid #eee;
  border-bottom-left-radius: .2rem;
  border-bottom-right-radius: .2rem;
}

.page-header .main-navigation .sublinks a {
  color: #0093d0;
  display: block;
  margin-left: 0;
  padding: .4rem .5rem .4rem 1rem;
  font-weight: 600;
  font-size: 14px;
}

.page-header .main-navigation .sublinks a:hover {
  background-color: #eee;
  color: #000;
}

.page-header .language {
  padding-top: 10px;
  display: block;
}

.page-header .language a {
  color: #666666;
  font-size: 15px;
  font-weight: 600;
  margin-left: 3px;
}

.page-header .language a:hover,
.page-header .language a.active {
  color: #0093d0;
}

.main {
  margin-top: 85px;
  background-color: #e8e9e9;
}

.collapser {
  padding-top: 5rem;
}

.main-video {
  position: relative;
  z-index: 1;
  height: 100%;
  /* background-image: url("../images/main-video-bg.jpg");
  background-size: 100%;
  background-position: center;
  padding-top: 15rem;
  padding-bottom: 20rem;
  background-repeat: no-repeat; */
}

.main-video:after {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  content: '';
}

.main-video .video-container {
  position: relative;
  z-index: 4;
  background-color: #000;
  height: 100%;
  padding-top: 0;
  display: none;
}

.main-video iframe {
  position: absolute;
  z-index: 9;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.main-video .trigger-video {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 3;
}

.fr-main-video {
  position: relative;
  z-index: 1;
  height: 100%;
  /* background-image: url("../images/Acromegalie_Thumbnail_FR.jpg");
  background-size: 100% 100%;
  background-position: center left;
  padding-top: 15rem;
  padding-bottom: 20rem;
  min-height: 85vh; */
}

.g1 {
  height: 250px;
  width: 290px;
  padding: 37px 35px 37px !important;
}

.fr-main-video:after {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  content: '';
}

.fr-main-video .video-container {
  position: relative;
  z-index: 4;
  background-color: #000;

  padding-top: 0;
  display: none;
}

.fr-main-video iframe {
  position: absolute;
  z-index: 9;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.fr-main-video .trigger-video {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 3;
}


.blog-small {
  padding-top: 50px;
  padding-bottom: 50px;
}

.blog-small .container {
  max-width: 960px;
}

.blog-small .row,
.blog-small .column {
  padding: 0;
}

.blog-small .section-title {
  position: relative;
  z-index: 1;
  font-family: "Proxima Nova", serif;
  font-size: 24px;
  font-weight: 800;
  color: #4d4d4d;
  margin-bottom: 2rem;
  display: inline-block;
  padding: 0 3rem;
}

.blog-small .section-title:before {
  position: absolute;
  top: 13px;
  left: 0px;
  content: '';
  width: 30px;
  height: 2px;
  background: #4d4d4d;
  display: block;
}

.blog-small .section-title:after {
  position: absolute;
  top: 13px;
  right: 0px;
  content: '';
  width: 30px;
  height: 2px;
  background: #4d4d4d;
  display: block;
}

.blog-small .item {
  background-color: #fff;
  display: block;
}

.blog-small .item:hover .item-header .title {
  text-decoration: underline;
}

.blog-small .item-header {
  border-top: 5px solid #0093d0;
  padding: 30px 20px 0px;
  text-align: center;
  min-height: 130px;
}

.blog-small .item-header .title {
  font-family: "Proxima Nova Condensed", serif;
  font-weight: 600;
  font-size: 23px;
  text-transform: uppercase;
  color: #000;
}

.blog-small .item-body {
  padding: 0 2rem 3rem;
}

.subvideo {
  position: relative;
  z-index: 1;
  height: 100%;
  /* background-image: url("../images/bg-subvideo.jpg");
  background-size: 100% 100%;
  background-position: center left;
  min-height: 450px;*/
  overflow: hidden;
}

.subvideo .subbanner-hide {
  position: absolute;
}

.subvideo .subvideo-container {
  display: none;
  height: 100%;
  /* position: absolute; */
  z-index: 4;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  background: #000;
}

.subvideo .subvideo-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 99;
  min-width: 100%;
  max-width: 100%;
  max-height: 450px;
}

.subvideo .video-js {
  width: 100%;
  height: 72vh;
}

.subvideo .trigger-subvideo {
  position: absolute;
  top: 72%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 3;
  display: block;
}

.subvideo .content {
  padding: 10rem 0;
  position: relative;
  z-index: 3;
}

.subvideo .content .title {
  font-family: "Chaparral", serif;
  font-size: 30px;
  font-style: italic;
  color: #fff;
}

.hidden-desktop {
  display: none;
}

.btText {
  position: absolute;
  margin-top: 29px;
  font-size: 29px;
  word-spacing: 3px;
  color: #0093D0;
  display: inline-block;
  margin-left: 30px;
}

.btText1 {
  position: absolute;
  margin-top: 30px;
  font-size: 23px;
  word-spacing: 3px;
  color: #0093D0;
  display: inline-block;
  margin-left: 30px;
}

.text-carousel {
  position: relative;
  z-index: 1;
  padding-top: 40px;
  padding-bottom: 120px;
}

.text-carousel .carousel-indicators {
  position: absolute;
  bottom: -90px;
  left: 0%;
}

.text-carousel .carousel-indicators .link {
  width: 20px;
  height: 20px;
  display: block;
  border-radius: 50%;
  margin: 0 .4rem;
  background: rgba(0, 0, 0, 0.5);
  border-width: 0 !important;
}

.text-carousel .carousel-indicators .link.active {
  background: black;
}

.text-carousel .content {
  background-color: #fff;
  padding: 2rem 3rem;
  min-height: 20rem;
  font-family: "Chaparral", serif;
  color: #000;
  font-style: italic;
  font-size: 16px;
}

.text-carousel .content .title {
  color: #0093d0;
  font-family: "Chaparral", serif;
  font-size: 36px;
  font-style: italic;
  letter-spacing: -1px;
  margin-bottom: 1.5rem;
}

.text-carousel .content p {
  margin-bottom: 2rem;
}

.subpage-body .blog-small .item-header {
  min-height: 153px;
}

.subpage-hero {
  position: relative;
  z-index: 1;
  min-height: 380px;
  padding: 5rem 0;
  background-size: cover;
  background-position: right center;
}

.pos1 {
  background-position: center !important;
}

.subpage-hero:after {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  content: '';
}

.subpage-hero .page-title {
  position: relative;
  z-index: 3;
  color: #fff;
  font-size: 46px;
  font-family: "Proxima Nova", serif;
  font-weight: 600;
}

.subpage-referenties {
  position: relative;
  z-index: 1;
  min-height: 380px;
  padding: 5rem 0;
  background-size: cover;
  background-position: left center;
  background: white;
}

.subpage-referenties:after {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  content: '';
  background: #0093D0;
}

.subpage-referenties .page-title {
  position: relative;
  z-index: 3;
  color: #fff;
  font-size: 46px;
  font-family: "Proxima Nova", serif;
  font-weight: 600;
}


.fr-subpage-referenties {
  position: relative;
  z-index: 1;
  min-height: 380px;
  padding: 5rem 0;
  background-size: cover;
  background-position: left center;
  background: white;
}

.fr-subpage-referenties:after {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  content: '';
}

.fr-subpage-referenties .page-title {
  position: relative;
  z-index: 3;
  color: #fff;
  font-size: 46px;
  font-family: "Proxima Nova", serif;
  font-weight: 600;
}

.btbutton {
  background: white;
  margin-top: 50px;
}

.frbutton {
  background: white;
  margin-top: 50px;
}

.nlText {
  font-size: 20px;
}

.subpage-content {
  background: #fff;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.subpage-content p {
  font-size: 18px;
  color: #000;
}

.subpage-content h3 {
  color: #0093d0;
  font-family: "Proxima Nova Condensed", serif;
  font-weight: bold;
  font-size: 38px;
  line-break: 60px;
  margin: 35px 0;
}

.subpage-content .download-item {
  margin-top: 3rem;
  margin-bottom: 5rem;
}

.subpage-content .download-item .media-left {
  margin-right: 1rem;
}

.subpage-content .download-item .media-body p {
  margin-bottom: 0;
}

.subpage-content .download-item a {
  font-size: 15px;
}

.subpage-content .download-item .animate {
  font-family: "Proxima Nova Condensed", serif;
  font-weight: 800;
  color: #000;
  display: inline-block;
  border-bottom: 2px solid transparent;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  cursor: pointer;
}

.subpage-content .download-item .animate span {
  width: 0;
  height: 2px;
  background-color: #888;
  display: inline-block;
  margin-bottom: 5px;
  margin-right: 10px;
  margin-left: -10px;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.subpage-content .download-item .animate:hover {
  border-bottom-color: #000;
}

.subpage-content .download-item .animate:hover span {
  width: 20px;
  margin-left: 0;
}

.subpage-content .address-item {
  margin-top: 2rem;
  margin-bottom: 4rem;
  font-size: 16px;
}

.subpage-content .address-item strong {
  font-size: 16px;
}

_:-ms-fullscreen,
:root .subvideo .subvideo-container iframe {
  display: none;
}

_:-ms-fullscreen,
:root .main-video iframe {
  display: none;
}

_:-ms-fullscreen,
:root .vjs-text-track-display {
  position: relative;
  z-index: 99999999;
  height: 100%;
}

.subvideo .subbanner-hide {
  position: absolute;
  height: 35vw;
  width: 110%;
  right: 0;
}

.subvideo .content {
  padding: 12rem 0;
}

@media (max-width: 3000px) and (min-width: 1220px) {}

@media (max-width: 1199px) and (min-width: 992px) {
  .main-video {
    background-size: 100% 100%;
  }

  .main-video .video-container {
    padding-top: 0;
  }

  .blog-small .item-header .title {
    font-size: 27px;
  }

  .text-carousel .content {
    min-height: 40vh;
  }

  .subvideo .content {
    padding: 7rem 0;
  }
}

@media (max-width: 991px) and (min-width: 768px) {
  .subbanner-hide {
    height: 100%;
  }

  .main-video {
    min-height: auto;
  }

  .main-video .video-container {
    padding-top: 0;
    height: 100%;
  }

  .page-header .main-navigation a {
    font-size: 15px;
  }

  .subpage-body .blog-small .item-header {
    min-height: 110px;
  }

  .subpage-body .blog-small .item-header .title {
    font-size: 18px;
  }

  .blog-small .item-body {
    padding: 0 2rem 2rem;
    margin-bottom: 1rem;
  }

  .text-carousel .content {
    min-height: 40vh;
  }

  .subvideo {
    /*min-height: 450px;*/
  }

  .subvideo .video-js {
    width: 100%;
    /* height: 30vh; */
  }

  .subvideo .content {
    padding: 6rem 0 8rem;
  }

  .subvideo .trigger-subvideo {
    top: 70%;
  }
}

@media (max-width: 767px) {
  .subvideo .subbanner-hide {
    /*height: 100%;*/
  }

  .hidden--xs {
    display: none;
  }

  .hidden-desktop {
    display: block;
  }

  .mobile-navbar {
    display: block;
    position: absolute;
    right: 20px;
    top: 10px;
    width: 40px;
  }

  .mobile-navbar span {
    height: 5px;
    width: 100%;
    background-color: #888;
    display: block;
    margin-bottom: 5px;
  }

  .mobile-navigation {
    position: fixed;
    right: -100%;
    top: 0;
    width: 44vh;
    height: 100vh;
    background: #000;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
  }

  .mobile-navigation.toggle {
    right: 0;
  }

  .mobile-navigation .close-mobile-navbar {
    color: #eeeeee;
    font-size: 50px;
    text-align: right;
    display: inline-block;
    padding: 5px 20px;
    position: absolute;
    right: 0;
  }

  .mobile-navigation nav {
    position: absolute;
    top: 20%;
    left: 20px;
  }

  .mobile-navigation nav ul {
    margin: 0;
    padding: 0;
    -webkit-padding-start: 0;
  }

  .mobile-navigation nav .sublinks {
    padding-left: 15px;
  }

  .mobile-navigation nav .sublinks a {
    font-size: 14px;
  }

  .mobile-navigation nav a {
    display: block;
    color: #fff;
    font-size: 16px;
    text-align: left;
    padding: 0 0;
  }

  .page-header {
    min-height: 85px;
  }

  .page-title {
    display: none;
  }

  .main {
    margin-top: 80px;
  }

  .main-video {
    min-height: auto;

  }

  .main-video .video-container {
    height: 100%;
    padding-bottom: 0;
  }

  .blog-small {
    padding-bottom: 20px;
  }

  .blog-small .item {
    margin-bottom: 2rem;
  }

  .subvideo {
    min-height: 170px;
  }

  .subvideo .video-js {
    width: 100%;
    height: 22vh;
  }

  .subvideo .content {
    padding: 2rem 0;
  }

  .subvideo .content .title {
    font-size: 22px;
  }

  .subvideo .trigger-subvideo {
    top: 100%;
  }

  .subpage-hero {
    min-height: auto;
  }

  .subpage-hero .page-title {
    display: block;
    font-size: 30px;
    letter-spacing: 0px;
  }

  .download-item .media {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .subpage-body .blog-small .item-header,
  .blog-small .item-header {
    min-height: 90px;
  }
}

@media (max-width: 845px) {
  .btbutton {
    height: 270px;
  }

  .btText {
    margin-top: 40px;
    font-size: 14px;
    word-spacing: 3px;
    color: #0093D0;
    display: inline-block;
    margin-left: 60px;
  }

  .btText1 {
    margin-top: 40px;
    font-size: 14px;
    word-spacing: 3px;
    color: #0093D0;
    display: inline-block;
    margin-left: 20px;
  }

  .bt2 {
    font-size: 14px !important;
  }

  .g1 {
    height: 250px;
    width: 310px;
    margin-left: 20px;
    padding-bottom: 15px !important;
  }

  .nlText {
    font-size: 18px;
    text-align: center;

  }

  .buttondiv {
    margin-right: 140px !important;
    padding: 2px !important;
    height: 36px;
    margin-top: 200px !important;
  }

  .mobile-navigation {
    position: fixed;
    right: -100%;
    top: 0;
    width: 44vh;
    height: 100vh;
    background: #000;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
  }

  .btbutton .btbutton2 {
    margin-top: 210px !important;
  }
}

@media (max-width: 667px) {
  .buttondiv {
    margin-top: 0px !important;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
    float: none !important;
  }

  .btbutton p {
    position: relative !important;
    padding: 0px 37px;
    padding-bottom: 54px;
  }

  .btbutton {
    height: auto;
    float: left;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }

  .btbutton .btbutton2 {
    margin-top: 50px !important;
    margin-left: 10px;
  }

  .btText {
    margin-top: 18px;
    font-size: 17px !important;
    word-spacing: 3px;
    color: #0093D0;
    display: inline-block;
    margin-left: 0;
    height: 52px !important;
    margin-bottom: -21px;
  }

  .btText1 {
    margin-top: 18px;
    font-size: 17px !important;
    word-spacing: 3px;
    color: #0093D0;
    display: inline-block;
    margin-left: 77px;
    margin-right: 43px;
    height: 52px !important;
    margin-bottom: -8px;
  }

  .bt2 {
    font-size: 17px !important;
  }

  .g1 {
    height: auto;
    width: 100% !important;
    margin-left: 0;
    padding-top: 65px !important;
  }

  .nlText {
    font-size: 17px;
  }

  .buttondiv {
    margin-right: 0 !important;
  }

  .mobile-navigation {
    position: fixed;
    right: -100%;
    top: 0;
    width: 57vh;
    height: 100vh;
    background: #000;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
  }

  .page-footer {
    width: 100%;
    float: left;
  }

  .subvideo .subbanner-hide {
    position: absolute;
    height: 30vw !important;
    right: 0;
  }

}

@media (max-width: 460px) {
  .subvideo .subbanner-hide {
    position: absolute;
    height: 43vw !important;
    right: 0;
    width: 145%
  }
}

@media (max-width: 375px) {
  .buttondiv {
    margin-top: 0px !important;
  }

  .ic {
    display: inline-block !important;
  }

  .btbutton {
    height: 364px;
  }

  .btbutton .btbutton2 {
    margin-top: 0px !important;
    margin-left: 0px;
  }

  .btText {
    margin-top: 12px;
    margin-bottom: 12px;
    font-size: 12px !important;
    word-spacing: 3px;
    color: #0093D0;
    display: inline-block;
    margin-left: 6px;
    margin-bottom: -66px;
  }

  .btText1 {
    margin-top: 12px;
    margin-bottom: -34px;
    font-size: 12px !important;
    word-spacing: 3px;
    color: #0093D0;
    display: inline-block;
    margin-left: -2px;
    margin-right: -7px;
  }

  .bt2 {
    margin-top: 12px;
    margin-bottom: 12px;
    font-size: 11.35px !important;
    word-spacing: 3px;
    color: #0093D0;
    display: inline-block;
    margin-left: 50px !important;
    margin-right: 40px;

  }

  .g1 {
    height: 200px;
    width: 318px !important;
    margin-left: 10px;
    padding-bottom: 15px !important;
    padding-top: 20px !important;
    margin-top: 17px;
  }

  .nlText {
    font-size: 12px;
    text-align: center;
  }

  .buttondiv {
    margin-right: 0 !important;
    padding: 2px !important;
    height: 36px;
    margin-top: 14px !important;
  }

  .mobile-navigation {
    position: fixed;
    right: -100%;
    top: 0;
    width: 44vh;
    height: 100vh;
    background: #000;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
  }

  .subvideo .trigger-subvideo img {
    transform: scale(.7);
    transform-origin: center;
  }

}

.buttondiv {
  border: 1px solid #0093D0;
  float: right;
  padding: 10px;
  margin-top: 158px;
  margin-right: 40px;
}

#_evh-link {
  z-index: 9;
}


.video-js iframe,
.vjs-resize-manager {
  display: none !important;
}

.modal-header {
  background-color: #4a94d1;
  color: white;
  border-top-left-radius: 0.2rem !important;
  border-top-right-radius: 0.2rem !important;
}

.modal-body {
  padding: 0rem 1rem !important;
}

.modal-footer {
  justify-content: center !important;
  color: white;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 600px !important;
    margin: 0.45rem auto !important;
  }

  .modal-header {
    padding: 0.5rem 1rem !important;
  }

  .modal-footer {
    padding: 0.5rem 1rem !important;
  }
}

.modal-footer .custom__secondary__button {
  background-color: #c0bfbf;
}

.modal-footer .custom__primary__button {
  background-color: #4a94d1;
  color: white;
}

.footer-top img.img-fluid {
  max-height: 70px;
}