/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

@font-face {
  font-family: 'Proxima Nova';
  src: url("../assets/font/proxima-nova/ProximaNova-Regular.eot");
  src: url("../assets/font/proxima-nova/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../assets/font/proxima-nova/ProximaNova-Regular.woff2") format("woff2"), url("../assets/font/proxima-nova/ProximaNova-Regular.woff") format("woff"), url("../assets/font/proxima-nova/ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url("../assets/font/proxima-nova/ProximaNova-Bold.eot");
  src: url("../assets/font/proxima-nova/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), url("../assets/font/proxima-nova/ProximaNova-Bold.woff2") format("woff2"), url("../assets/font/proxima-nova/ProximaNova-Bold.woff") format("woff"), url("../assets/font/proxima-nova/ProximaNova-Bold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url("../assets/font/proxima-nova/ProximaNova-Extrabld.eot");
  src: url("../assets/font/proxima-nova/ProximaNova-Extrabld.eot?#iefix") format("embedded-opentype"), url("../assets/font/proxima-nova/ProximaNova-Extrabld.woff2") format("woff2"), url("../assets/font/proxima-nova/ProximaNova-Extrabld.woff") format("woff"), url("../assets/font/proxima-nova/ProximaNova-Extrabld.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Condensed';
  src: url("../assets/font/proxima-nova/ProximaNovaCond-Bold.eot");
  src: url("../assets/font/proxima-nova/ProximaNovaCond-Bold.eot?#iefix") format("embedded-opentype"), url("../assets/font/proxima-nova/ProximaNovaCond-Bold.woff2") format("woff2"), url("../assets/font/proxima-nova/ProximaNovaCond-Bold.woff") format("woff"), url("../assets/font/proxima-nova/ProximaNovaCond-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Chaparral';
  src: url("../assets/font/chaparral/ChaparralPro-Regular.eot");
  src: url("../assets/font/chaparral/ChaparralPro-Regular.eot?#iefix") format("embedded-opentype"), url("../assets/font/chaparral/ChaparralPro-Regular.woff2") format("woff2"), url("../assets/font/chaparral/ChaparralPro-Regular.woff") format("woff"), url("../assets/font/chaparral/ChaparralPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Chaparral';
  src: url("../assets/font/chaparral/ChaparralPro-Bold.eot");
  src: url("../assets/font/chaparral/ChaparralPro-Bold.eot?#iefix") format("embedded-opentype"), url("../assets/font/chaparral/ChaparralPro-Bold.woff2") format("woff2"), url("../assets/font/chaparral/ChaparralPro-Bold.woff") format("woff"), url("../assets/font/chaparral/ChaparralPro-Bold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}


:root {
  /* colors */
  --background-color: #fff;
  --overlay-background-color: #eee;
  --highlight-background-color: #ccc;
  --text-color: #000;

  /* body sizes */
  --body-font-size-m: 22px;
  --body-font-size-s: 18px;
  --body-font-size-xs: 16px;

  /* heading sizes */
  --heading-font-size-xxl: 48px;
  --heading-font-size-xl: 40px;
  --heading-font-size-l: 32px;
  --heading-font-size-m: 24px;
  --heading-font-size-s: 20px;
  --heading-font-size-xs: 18px;

  /* nav height */
  --nav-height: 85px;

}


html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  background: #e8e9e9;
  padding: 0px;
  margin: 0px;
}

a,
a:hover {
  text-decoration: none;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

body {
  font-family: "Proxima Nova", serif;
  font-size: 18px;
  color: #000;
}
